
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BUY ANONYMOUS BOT</title>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="YOU CAN BUY OUR BOT SERVICES">
<meta name="author" content="HIRUSHA RUKSHAN"><link rel='stylesheet' href='http://Wa.me/94771039631'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway:100,500'><link rel="stylesheet" href="./views/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<body>

  <nav class="main-nav" id="main-nav">
    <div style="height:80px;background: rgb(51,74,92);padding-top: 1px;"><h2 class="text-center" style="color:#fff; letter-spacing:2px;">MENU</h2></div>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
      <li><a href="/"><i class="fa fa-user fa-fw"></i>&nbsp; About</a></li>
      <li><a href="#what-i-do"><i class="fa fa-signal fa-fw"></i>&nbsp; What I do</a></li>
      <li><a href="#work"><i class="fa fa-briefcase fa-fw"></i>&nbsp; Bot Menu</a></li>
      <li><a href="/contact"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Contact</a></li>
    </ul>
  </nav>

  <div class="page-wrap">

    <div class="jumbotron">
      <div style="margin-top:130px" class="container">
        <a href="#main-nav" class="h5 open-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-bars fa-2x fa-fw"></i></a>
        <a href="#" class="h5 close-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-times fa-2x fa-fw"></i></a>
        <h1>ANONYMOUS BOT</h1>
        <div class="spacer"></div>
        <h1>HIRUWA</h1>
        <div class="spacer"></div>
        <hr><hr>
        <h2 class="text-center">I Build VIP Bot Service</h2>
      </div>
    </div>

    <div class="section" id="about"><h1>About</h1><hr></div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <img src="https://telegra.ph/file/40d0fd5b08db52953d9c8.jpg#" style="height:100%; width:100%">
          </div>
        </div>
        <div class="col-md-8">
          <div class="well">
            <h3>ANONYMOUS BOT ABOUT</h3>
            <p>ANONYMOUS Bot has many VIP Features....<br><br>YOU CAN DOWNLOAD SONGS,VIDEOS,TIKTOK,FB,INSTA,XNXX,APPS ETC ....<br></p>
            <p><a href="https://wa.me/94771039631" class="btn btn-default">BUY BOT</a></p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->

    <div class="section" id="what-i-do"><h1>What I Do</h1><hr></div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            <h3>Skills</h3>
            <div class="spacer"></div><div class="spacer"></div>
            <div class="row">
              <div class="col-md-4">
                <div class="html"></div> <h4 style="font-weight: 400; display: inline;">HTML5</h4><br>
                <div class="css"></div> <h4 style="font-weight: 400; display: inline;">CSS</h4><br>
                <div class="php"></div> <h4 style="font-weight: 400; display: inline;">JAVA SCRIPT</h4><br>
                <div class="sql"></div> <h4 style="font-weight: 400; display: inline; margin-bottom:5px;">PYTHON</h4>
              </div>
              <div class="col-md-8">
                <div class="progress">
                  <div class="progress-bar progress-bar-html" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    <span class="sr-only">HTML5 90%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-css" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    <span class="sr-only">CSS 90%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-php" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">JAVA SCRIPT 90%</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-sql" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">PYTHON 100%</span>
                  </div>
                </div>
              </div><!--/.col-6-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h3>I Build ANONYMOUS API Site</h3>
            <p>YOU CAN DOWNLOAD ANY SOCIAL MEDIA VIDEOS OR PHOTOES AND YOU CAN MAKE LOGO ETC.....</p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
    <div class="work visible-lg" style="height:250px !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3><i class="fa fa-code"></i>&nbsp; Beautiful Code</h3>
            <p>I write clean, semantic, organized, and valid markup that eliminates excess code and allows others to easily understand and therfore update content in the future.</p>
          </div>
          <div class="col-md-3">
            <h3><i class="fa fa-fighter-jet"></i>&nbsp; Fast</h3>
            <p>I build fast and efficient web sites. Fast websites always attract more visitors, and those visitors are more likely to choose you over the competition. In addition, website speed is essential for <abbr title="Search Engine Optimization">SEO</abbr> &mdash; <a href="https://anony-vip-edition.herokuapp.com/">MY WEBSITE</a>.</p>
          </div>
          
          <div class="col-md-3">
            <h3><i class="fa fa-bolt"></i>&nbsp; Powerful</h3>
            <p>ANONYMOUS BOT IS POWERFULL BOT....IT CAN SPEAK SINHALA AND ENGLISH ......</p>
          </div>
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.work-->
    <!--mobile work-->
    <div class="container hidden-lg">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-code"></i>&nbsp; Beautiful Code</h3>
            <p>I write clean, semantic, organized, and valid markup that eliminates excess code and allows others to easily understand and therfore update content in the future.</p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-fighter-jet"></i>&nbsp; Fast</h3>
            <p>I build fast and efficient web sites. Fast websites always attract more visitors, and those visitors are more likely to choose you over the competition. In addition, website speed is essential for <abbr title="Search Engine Optimization">SEO</abbr> &mdash; <a href="https://anony-vip-edition.herokuapp.com/">MY WEBSITE</a>.</p>
          </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="well">
            <h3><i class="fa fa-bolt"></i>&nbsp; Powerful</h3>
            <p>ANONYMOUS BOT IS POWERFULL BOT....IT CAN SPEAK SINHALA AND ENGLISH ......</p>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container and mobile work-->


    


    <!--<div class="hidden-xs"><div class="work-together" id="contact">LETS WORK TOGETHER</div></div>-->
    <div class="section" id="contact"><h1>YOU CAN BUY ANONYMOUS BOT OR MAKE YOUR OWN BOTS..</h1><hr></div>

    <div class="work-together">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>Send Me a Message</h3>
            <div class="spacer"></div>
            <form class="form-horizontal" role="form" id="form" method="post">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="contact form-control" name="name" id="name" placeholder="Name">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="contact form-control" name="email" id="email" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="subject" class="col-sm-2 control-label">Subject</label>
                <div class="col-sm-10">
                  <input type="text" class="contact form-control" name="subject" id="subject" placeholder="Subject">
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                  <textarea class="contact form-control" rows="3" name="message" id="message" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="submit" value="Send" class="btn btn-default" name="submit">
                </div>
              </div>
            </form>
          </div><!--/.col-->
          <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
            <h3>Contact Details</h3><div class="spacer"></div>
            <p class="lead" style="margin-bottom:0px;"><i class="fa fa-map-marker"></i>CHILAW.</p><p class="lead" style="text-indent:24px">Sri Lanka , Puttlam</p>
            <p class="lead"><i class="fa fa-phone"></i>&nbsp; 94771039631</p>
            <p class="lead"><i class="fa fa-envelope"></i>&nbsp; hirusharukshan43@gmail.com</p>
          </div>
        </div><!--/.row-->
      </div><!--/.container-->
      <div class="container hidden-sm hidden-xs"><div class="spacer"></div><div class="spacer"></div><footer><p class="pull-right">MADE BY HIRUWA ♥️</p></footer></div>
    </div><!--/.work-together-->

  </div><!--/.page-wrap-->
</body>
</html>
<!-- partial -->
  
</body>
</html>
